<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Contact Created!</title>
    </head>
    <body>
        <div class='container'>
            <h1>You Added a Contact!</h1>
            <ul>
                <li>{{ newcontact.getName }}</li>
                <li>{{ newcontact.getPhone }}</li>
                <li>{{ newcontact.getAddress }}</li>   
            </ul>
            <p><a href='/'>View your full contact list.</a><p>
        </div>
    </body>
</html>
