<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Contact Created!</title>
    </head>
    <body>
        <div class='container'>
            <h1>You Added a Contact!</h1>
        </div>
    </body>
</html>
