<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Contact Deleted!</title>
    </head>
    <body>
        <div class='container'>
            <h1>Contacts Cleared!</h1>
            <p><a href='/'>Return Home</a></p>
        </div>
    </body>
</html>
